.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 24px;
}

.keuringStatus {
  font-size: 18px;
  padding: 15px 25px;
  color: white;
  border-radius: 45px;
}

.klant,
.adres {
  display: flex;
  align-items: center;
  padding-top: 30px;
  font-size: 18px;
}

.cardSubHeader:not(:first-child) {
  margin-top: 40px;
}

.cardSubHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editIconContainer {
  border-radius: 40px;
  padding: 10px;
}

.editIconContainer:hover {
  background-color: rgb(241, 243, 245);
}

.content {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.content p {
  text-align: center;
}
