.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 24px;
}

.klantSubHeading {
  padding-top: 20px;
}

.keuringStatus {
  font-size: 18px;
  padding: 15px 25px;
  border-radius: 45px;
}

.klant,
.adres {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 15px;
  font-size: 18px;
}

.cardSubHeader:not(:first-child) {
  margin-top: 40px;
}

.cardSubHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.content p {
  text-align: center;
}

.editIconsContainer {
  position: absolute;
  top: 26px;
  right: 34px;
  display: flex;
}

.editIconContainer {
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 10px;
  cursor: pointer;
}

.editIconContainer:hover {
  background-color: rgb(241, 243, 245);
}
