.header {
  left: 275px;
  min-height: 100px;
  background-color: rgb(249, 250, 251);
}

.keuringContainer {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}

.cardBox {
  background-color: #fff;
  box-shadow: 0 12px 20px 6px rgba(13, 13, 14, 0.08);
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  min-width: 300px;
}

.opmerking {
  overflow-y: scroll;
}

.backBtn {
  padding: 5px;
  border-radius: 45px;
}

.backBtn:hover {
  background-color: rgba(237, 242, 247, 1);
  cursor: pointer;
}

.klantSubHeading {
  padding-top: 20px;
}

.klant,
.adres {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 15px;
  font-size: 16px;
}

.cardSubHeader:not(:first-child) {
  margin-top: 40px;
}

.cardSubHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content p {
  text-align: center;
}

.editIcon {
  display: flex;
  padding: 10px;
  border-radius: 40px;
}

.editIconContainer {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.editIcon:hover {
  background-color: #f1f3f5;
}

@media screen and (max-width: 1600px) {
  .keuringContainer {
    width: 1100px;
    max-width: 1100px;
  }
}
