.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 432px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: grey #e4e4e4;
  scrollbar-width: thin;
}

.dzone {
  text-align: center;
}

.content ul {
  margin: 0;
}

.content li {
  display: flex;
  padding: 15px 0;
  border-bottom: solid 2px rgb(104 112 118 / 0.08);
}

.imageContainer {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.documentInfo {
  display: flex;
  width: 300px;
  align-items: center;
}

.documentName {
  height: 24px;
  width: 175px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.documentSize {
  text-align: end;
  width: fit-content;
  margin-right: 35px;
  font-size: 12px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.content p {
  text-align: center;
  width: 300px;
}
