.title {
  font-size: 24px;
}

.search {
  margin-bottom: 10px;
}

.tableColumn {
  text-align: left;
}

.tableColumn > * {
  border-bottom: solid 3px rgb(241, 243, 245);
}

.geenKeuringen {
  text-align: center;
}

.geenKeuringen img {
  margin: 0 auto;
}

.geenKeuringen p {
  margin-top: 10px;
}

.statusBgColor {
  display: inline-flex;
  border-radius: 25px;
  padding: 12px 20px;
  color: white;
}

.bgRed {
  background-color: red;
}

.statusDatumPlaatsbezoek {
  margin-left: 15px;
}

.icon {
  border-radius: 25px;
}

.icon:hover {
  background-color: rgb(241, 243, 245);
}

.klant,
.adres {
  display: flex;
  flex-direction: column;
}

.naam {
  font-weight: bold;
}

.email,
.gemeente {
  margin-top: 3px;
  font-size: 12px;
}

.paginationButton {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
